<div class='btn-group right'>
<button class='raptor btn' >
  Raptorize!
</button>
<%= render :partial => 'favicon' %>
</div>
<%= image_tag "http://www.penguinpetes.com/Doomed_to_Obscurity/strips/#{@comic}.jpg", width: 1000, id: :comic %>
<h4>Showing comic <%= @comic.to_i %></h1>
<br/>

<div class='btn-group left'>
  <%= link_to 'previous', prev_comics_path, accesskey: 'P', class: 'btn' %>
  <%= link_to 'next', next_comics_path, accesskey: 'N', class: 'btn' %>
</div>

<div class='btn-group right'>
  <%= link_to 'first', root_path, accesskey: 'F', class: 'btn' unless @comic.to_i == 1 %>
  <%= link_to 'last', last_comic_path, accesskey: 'L', class: 'btn' %>
</div>

<br />
