<div data-pjax-container>
  <h1>Showing comic <%= @comic %></h1>
  <%= image_tag "http://www.penguinpetes.com/Doomed_to_Obscurity/strips/#{@comic}.jpg", width: 1000, height: 250%>

  <br/>
  <%= link_to 'previous', prev_comics_path, accesskey: 'P' %>
  |
  <%= link_to 'next', next_comics_path, accesskey: 'N' %>
  <%= link_to '| first', root_path, accesskey: 'F' unless @comic.to_i == 1 %>
  <br />
</div>
