<!DOCTYPE html>
<html>
  <head>
    <title>Dto</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <script type='text/javascript'>
      $(window).load(function() {
          $('.raptor').raptorize({
            'enterOn' : 'click',
            'delayTime' : 4000
            });
          });
    </script>

    <div id='content'>

      <div id='centered'>

        <h1> Doomed to Obscurity </h1>
        <span id='undertitle'> A webcomic that gives the geek culture just what it deserves!  </span>
        <%= yield %>

        <button class='raptor'>
          Raptorize!
        </button>
      </div>
    </div>

    <%= render 'layouts/footer' %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29657740-1']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </body>
</html>
